.directionsEntry, .directionsEntryImportant{
    position: relative;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    border-style: solid;
}

.directionsEntryImportant {
    background-color: #FF8080;
    box-shadow: 0px 0px 10px 10px #FFAAAA
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#map {
    height: 100%;
    flex: 1;
}

#directions {
    background-color: rgb(210, 200, 200);
    position: relative;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#directionSteps {
    position: relative;
}

#apiKey {
    top: 60vh;
}